/* calendario */

.calendar-container {
    max-width: 400px; 
    margin: 0 auto; 
    font-size: 14px; 
  }
  
  .calendar-container .fc {
    font-size: 12px; 
  }
  
  .calendar-container .fc-toolbar-title {
    font-size: 16px; 
  }
  
  .calendar-container .fc-daygrid-day-number {
    font-size: 12px; 
  }
  
  .calendar-container .fc-event {
    font-size: 10px; 
    padding: 2px; 
  }

  