<app-header2></app-header2>


<div class="row justify-content-center ">
    <div class="col-12 col-sm-12 col-md-11 contenedor">
        <h1 style="text-align: center;">ADMIN DE SOLICITUDES</h1>
        <div class="col-md-4">
            <button (click)="volver()" type="button" class="btn btn-primary my-3">VOLVER </button>
        </div>
        <table class="table table-hover table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">AREA NOMBRE</th>
                    <th scope="col">HORA DE INICIO</th>
                    <th scope="col">HORA DE TERMINACION</th>
                    <th scope="col">FECHA RESERVADA</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations"> <!-- *ngFor="let locales of locales" -->
                    <th>{{reservation.id}}</th>
                    <td>{{reservation.space.name}}</td>
                    <td>{{reservation.start_time}}</td>
                    <td>{{reservation.end_time}}</td>
                    <td>{{reservation.start_date}}</td>
                    <td>{{reservation.status.toUpperCase()}}</td>
                    <td>
                        <div class="btn-lista-promocion">

                            <button *ngIf="reservation.status === 'rechazado' || reservation.status === 'pendiente'" (click)="approveOrReject(reservation.id, true)" type="button" class="btn btn-success m-md-2">Aprobar</button>
                            <button *ngIf="reservation.status === 'aprobado'  || reservation.status === 'pendiente'" (click)="approveOrReject(reservation.id, false)" type="button" class="btn btn-danger -md-2">Rechazar</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>