

<app-header2></app-header2>


<div class="row justify-content-center ">
    <div class="col-12 col-sm-12 col-md-11 contenedor">
        <h1 style="text-align: center;">ADMIN DE ESPACIOS</h1>
        <div class="col-md-4">
            <button (click)="volver()" type="button" class="btn btn-primary my-3" >VOLVER </button>
            <button (click)="handleShowForm(null)" type="button" class="btn btn-warning m-md-2">Agregar</button>
        </div>
        <form style="margin-bottom: 12px;" *ngIf="showForm === true" [formGroup]="espacioForm" (ngSubmit)="onSubmit()">
            <input formControlName="id" class="form-control" hidden style="margin-bottom: 12px;">
            <label>Nombre</label>
            <input  placeholder="Nombre" formControlName="name" class="form-control" style="margin-bottom: 12px;">
            <label>Aforo</label>
            <input  placeholder="Aforo" formControlName="capacity" class="form-control" style="margin-bottom: 12px;">
            <label>Descripción</label>
            <input  placeholder="Descripción" formControlName="description" class="form-control" style="margin-bottom: 12px;">
            <label>Link de imagen</label>
            <input  placeholder="Link de imagen" formControlName="image" class="form-control" style="margin-bottom: 12px;">
            <button *ngIf="updateMode !== true" type="submit" class="btn btn-primary w-100">
                Crear espacio
            </button>
            <button *ngIf="updateMode === true" type="submit" class="btn btn-primary w-100">
                Actualizar espacio
            </button>
        </form>
        <table class="table table-hover table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">AFORO</th>
                    <th scope="col">IMAGEN</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let espacio of espacios">
                    <th>{{espacio.id}}</th>
                    <td>{{espacio.Nombre}}</td>
                    <th>{{espacio.Descripcion}}</th>
                    <th>{{espacio.Capacidad}}</th>
                    <th> <img src={{espacio.image}} alt="Alt" style="width: 90px; height: 90px;" /> </th>
                    <td>
                        <div class="btn-lista-promocion">
                            <button (click)="handleShowForm(espacio)" type="button" class="btn btn-success m-md-2">Actualizar</button>
                            <button (click)="deleteEquipo(espacio.id)" type="button" class="btn btn-danger -md-2">Elminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>
