<app-header2></app-header2>



<div class="cuadro-perfil container-fluid bg-white ">
    <div class="row align-items-center">
      <!-- Título PERFIL DE USUARIO dentro de un rectángulo -->
      <div class="col-3">
        <div class="bg-white rounded-1">
          <h2 class="text-center mb-0">PERFIL DE USUARIO</h2>
        </div>
      </div>
    </div>
    <!-- Fila para el botón Volver -->
    <div class="row">
      <div class="col-1 text-center">
        <img src="./../../../../assets/img/atras.png" width="10px" height="10px" alt="">
        <button (click)="volverHome()" class="btn  p-3 w-25">
            Volver</button>
      </div>
    </div>
</div>



<!-- Segundo cuadro para la foto de perfil -->
<div class="cuadro-foto-perfil container-fluid bg-white my-4">
    <div class="row">
        <div class="col-12">
            <div class="bg-white p-3 rounded-1">
                <h3 class="text-center mb-3">Foto de Perfil</h3>
                <!-- Imagen circular de perfil -->
                <div class="text-center">
                    <img src="./../../../../assets/img/perfil2.png" class="rounded-circle" width="150px" height="150px" alt="Foto de perfil">
                </div>
            </div>
        </div>
    </div>
</div>
  
  
  




<div class="footer">
    <app-footer></app-footer>
</div>
