
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* cuadro perfil */

.cuadro-perfil{
   margin-top: 50px;
   width: 1100px;
    border: 2px solid black;
    border-radius: 10px;
}

.cuadro-perfil h2{
    font-size: 23px;
 }

 .cuadro-foto-perfil{
    margin-top: 50px;
    width: 1100px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
 }

