/* calendario */

.calendar-container {
    max-width: 400px; 
    margin: 0 auto; 
    font-size: 14px; 
  }
  
  .calendar-container .fc {
    font-size: 12px; 
  }
  
  .calendar-container .fc-toolbar-title {
    font-size: 16px; 
  }
  
  .calendar-container .fc-daygrid-day-number {
    font-size: 12px; 
  }
  
  .calendar-container .fc-event {
    font-size: 10px; 
    padding: 2px; 
  }

.controlform{
  width: 100%;  
  max-width: 300px;  
  
}


 .card {
  max-height: 390px; 
  padding: 0.75rem; 
}

.card-header h5 {
  font-size: 1.1rem; 
}

.card-body {
 
  margin: 0 auto; 
}

.form-check {
  margin-bottom: 0.25rem; 
}

.form-check-label {
  font-size: 0.9rem; 
}

.card-body2{
  width: 300px;
}

