<app-header2></app-header2>

<div class="container mt-8">

    <div class="border p-4 bg-white mb-4">
        <h3 class="text-center">FORMULARIO DE SOLICITUD</h3>
    </div>


    <form [formGroup]="solicitudAreaForm" (ngSubmit)="onSubmit()">
        <div class="row" style="background: #DDD6D6;">
            <div class="col-md-12 mb-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="fechaReserva">Fecha de Reserva</label>
                        <div class="input-group">
                            <input formControlName="reservation_date" type="date" class="form-control" id="fechaReserva">

                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="fechaInicio">Fecha de Inicio</label>
                        <div class="input-group">
                            <input formControlName="start_date" type="date" class="form-control" id="fechaInicio">

                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="fechaFin">Fecha de Finalización</label>
                        <div class="input-group">
                            <input formControlName="end_date" type="date" class="form-control" id="fechaFin">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Calendario y horas de inicio y finalización -->
            <div class="col-md-12 mb-4">
                <div class="row">

                    <div class="col-md-4 mb-3">
                        <label for="horaInicio">Hora de Inicio</label>
                        <input formControlName="start_time" type="time" class="form-control" id="horaInicio">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="horaFin">Hora de Finalización</label>
                        <input formControlName="end_time" type="time" class="form-control" id="horaFin">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="tipoEvento">Tipo de Evento</label>
                        <select formControlName="uploaded_job" class="controlform form-control form-control-sm" id="tipoEvento">
                            <option>Evento 1</option>
                            <option>Evento 2</option>
                            <option>Evento 3</option>
                        </select>
                    </div>


                    <div class="container mt-5">
                        <div class="row">
                            <!-- Caja de Servicios -->
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h5>Servicios</h5>
                                    </div>
                                    <div class="card-body">
                                        <!-- Lista de 9 labels con checkbox en columna -->
                                        <div class="form-check" *ngFor="let service of services">
                                            <input class="form-check-input" type="checkbox" [value]="service.id"
                                                [id]="'service' + service.id" (change)="onSelectService(service.id)">
                                            <label class="form-check-label" [for]="'service' + service.id">
                                                {{service.Nombre}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Caja de Equipos -->
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h5>Equipos</h5>
                                    </div>
                                    <div class="card-body">
                                        <!-- Lista de 9 labels con checkbox en columna -->
                                        <div class="form-check" *ngFor="let estate of estates">
                                            <input class="form-check-input" type="checkbox" [value]="estate.id"
                                                [id]="'estate' + estate.id" (change)="onSelectEstate(estate.id)">
                                            <label class="form-check-label" [for]="'estate' + estate.id">
                                                {{estate.Nombre}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-4'>
                                <div class="card-header">
                                    <h5>Detalles</h5>
                                </div>
                                <div class="card-body2">

                                    <textarea formControlName="reservation_details" class="form-control" id="detalles" rows="6"
                                        placeholder="Escribe aquí los detalles..."></textarea>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="d-flex flex-column align-items-end mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="acceptTerms">
                        <label class="form-check-label" for="acceptTerms">
                            Aceptar los términos y condiciones
                        </label>
                    </div>
                    <div class="col-md-2 mt-3">
                        <button type="submit" class="btn btn-primary w-100">Solicitar Área</button>
                    </div>
                    <div class="col-md-2 mt-3">
                        <button (click)="irHome()" class="btn btn-primary w-100">Volver</button>
                    </div>
                </div>
            </div>

        </div>
    </form>


    <app-footer></app-footer>